<a href="https://colab.research.google.com/github/ralsouza/apache_spark_real_time_analytics/blob/master/notebooks/03_pyspark_project_uber_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install and Setup

In [1]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:7 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:12 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Ign:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [255 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [9,558 B]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,856 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [882 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,413 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,038 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,334 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [116 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [27.1 kB]
Get:23 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [895 kB]
Fetched 8,099 kB in 6s (1,432 kB/s)
Reading package lists... Done

In [2]:
# Install the dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
# Environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
 
# tornar o pyspark "importável"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')

In [4]:
# Libraries and Context Setup
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()
sqlContext = pyspark.SQLContext(sc)

In [5]:
# Check context
print(sc)

<SparkContext master=local[*] appName=pyspark-shell>

In [ ]:
# sc.stop()

# Mini-Projeto 1 - Analisando Dados do Uber com Spark

Dataset: https://github.com/fivethirtyeight/uber-tlc-foil-response

Esse conjunto de dados contém dados de mais de 4,5 milhões de captações Uber na cidade de Nova York de abril a setembro de 2014 e 14,3 milhões de captações Uber de janeiro a junho de 2015. Dados em nível de viagem sobre 10 outras empresas de veículos de aluguel (FHV) bem como dados agregados para 329 empresas de FHV, também estão incluídos. Todos os arquivos foram recebidos em 3 de agosto, 15 de setembro e 22 de setembro de 2015.

1- Quantos são e quais são as bases de carros do Uber (onde os carros ficam esperando passageiros)?

2- Qual o total de veículos que passaram pela base B02617?

3- Qual o total de corridas por base? Apresente de forma decrescente.

In [6]:
from pandas import read_csv

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [8]:
# Criando um objeto Pandas
uberFile = read_csv('/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/uber.csv')

In [9]:
type(uberFile)

pandas.core.frame.DataFrame

In [ ]:
# Visualizando as primeiras linhas
uberFile.head(10)

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537
5                  B02598  1/1/2015              870   6903
6                  B02598  1/2/2015              785   4768
7                  B02617  1/2/2015             1137   7065
8                  B02512  1/2/2015              175    875
9                  B02682  1/2/2015              890   5506

In [11]:
# Tranformando o dataframe (Pandas) em um Dataframe (Spark)
df_uber = spark.createDataFrame(uberFile)

In [ ]:
type(df_uber)

pyspark.sql.dataframe.DataFrame

In [ ]:
type(df_uber)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Total rows
df_uber.count()

354

In [ ]:
# First row
df_uber.printSchema()

root
 |-- dispatching_base_number: string (nullable = true)
 |-- date: string (nullable = true)
 |-- active_vehicles: long (nullable = true)
 |-- trips: long (nullable = true)

In [ ]:
# Sample data
df_uber.show()

+-----------------------+--------+---------------+-----+
|dispatching_base_number|    date|active_vehicles|trips|
+-----------------------+--------+---------------+-----+
|                 B02512|1/1/2015|            190| 1132|
|                 B02765|1/1/2015|            225| 1765|
|                 B02764|1/1/2015|           3427|29421|
|                 B02682|1/1/2015|            945| 7679|
|                 B02617|1/1/2015|           1228| 9537|
|                 B02598|1/1/2015|            870| 6903|
|                 B02598|1/2/2015|            785| 4768|
|                 B02617|1/2/2015|           1137| 7065|
|                 B02512|1/2/2015|            175|  875|
|                 B02682|1/2/2015|            890| 5506|
|                 B02765|1/2/2015|            196| 1001|
|                 B02764|1/2/2015|           3147|19974|
|                 B02765|1/3/2015|            201| 1526|
|                 B02617|1/3/2015|           1188|10664|
|                 B02598|1/3/2015|            818| 7432|
|                 B02682|1/3/2015|            915| 8010|
|                 B02512|1/3/2015|            173| 1088|
|                 B02764|1/3/2015|           3215|29729|
|                 B02512|1/4/2015|            147|  791|
|                 B02682|1/4/2015|            812| 5621|
+-----------------------+--------+---------------+-----+
only showing top 20 rows

In [ ]:
# Convert csv file to rdd
uber_test = sc.textFile('/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/uber.csv')
type(uber_test)

pyspark.rdd.RDD

# 1- Quantos são e quais são as bases de carros do Uber (onde os carros ficam esperando passageiros)?

In [ ]:
df_uber_count = df_uber.groupBy('dispatching_base_number').count()

In [ ]:
df_uber_count.show()

+-----------------------+-----+
|dispatching_base_number|count|
+-----------------------+-----+
|                 B02512|   59|
|                 B02598|   59|
|                 B02682|   59|
|                 B02765|   59|
|                 B02617|   59|
|                 B02764|   59|
+-----------------------+-----+

Temos 6 bases do uber.

# 2- Qual o total de veículos que passaram pela base B02617?

In [ ]:
df_uber.groupBy('dispatching_base_number').sum('active_vehicles') \
  .where(df_uber.dispatching_base_number == 'B02617') \
  .show()

+-----------------------+--------------------+
|dispatching_base_number|sum(active_vehicles)|
+-----------------------+--------------------+
|                 B02617|               79758|
+-----------------------+--------------------+

# 3- Qual o total de corridas por base? Apresente de forma decrescente.

In [12]:
df_uber.groupBy('dispatching_base_number') \
  .sum('trips') \
  .orderBy('sum(trips)',ascending=False) \
  .show()

+-----------------------+----------+
|dispatching_base_number|sum(trips)|
+-----------------------+----------+
|                 B02764|   1914449|
|                 B02617|    725025|
|                 B02682|    662509|
|                 B02598|    540791|
|                 B02765|    193670|
|                 B02512|     93786|
+-----------------------+----------+

# Other options with lambda functions and Spark rdd

In [18]:
# Making a RDD from a text file
uber_rdd = sc.textFile('/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/uber.csv')

In [19]:
uber_rows = uber_rdd.map(lambda row: row.split(','))

In [20]:
type(uber_rows)

pyspark.rdd.PipelinedRDD

In [26]:
# Save data of base B02617
b02017_rdd = uber_rows.filter(lambda row: 'B02617' in row)

In [27]:
b02017_rdd.collect()

[['B02617', '1/1/2015', '1228', '9537'],
 ['B02617', '1/2/2015', '1137', '7065'],
 ['B02617', '1/3/2015', '1188', '10664'],
 ['B02617', '1/4/2015', '1088', '7729'],
 ['B02617', '1/5/2015', '1218', '7899'],
 ['B02617', '1/6/2015', '1336', '10128'],
 ['B02617', '1/7/2015', '1363', '11528'],
 ['B02617', '1/8/2015', '1463', '13462'],
 ['B02617', '1/9/2015', '1455', '13165'],
 ['B02617', '1/10/2015', '1331', '13856'],
 ['B02617', '1/11/2015', '1228', '10932'],
 ['B02617', '1/12/2015', '1323', '10662'],
 ['B02617', '1/13/2015', '1342', '11825'],
 ['B02617', '1/14/2015', '1405', '11965'],
 ['B02617', '1/15/2015', '1457', '12539'],
 ['B02617', '1/16/2015', '1445', '12977'],
 ['B02617', '1/17/2015', '1306', '12676'],
 ['B02617', '1/18/2015', '1223', '12879'],
 ['B02617', '1/19/2015', '992', '7775'],
 ['B02617', '1/20/2015', '1350', '10015'],
 ['B02617', '1/21/2015', '1429', '10997'],
 ['B02617', '1/22/2015', '1471', '12143'],
 ['B02617', '1/23/2015', '1482', '13121'],
 ['B02617', '1/24/2015', '1367', '14143'],
 ['B02617', '1/25/2015', '1203', '10362'],
 ['B02617', '1/26/2015', '1150', '7608'],
 ['B02617', '1/27/2015', '596', '4325'],
 ['B02617', '1/28/2015', '1356', '10862'],
 ['B02617', '1/29/2015', '1474', '12600'],
 ['B02617', '1/30/2015', '1501', '14793'],
 ['B02617', '1/31/2015', '1394', '15756'],
 ['B02617', '2/1/2015', '1355', '13458'],
 ['B02617', '2/2/2015', '1217', '12216'],
 ['B02617', '2/3/2015', '1350', '12665'],
 ['B02617', '2/4/2015', '1393', '11959'],
 ['B02617', '2/5/2015', '1524', '14499'],
 ['B02617', '2/6/2015', '1526', '15417'],
 ['B02617', '2/7/2015', '1383', '13688'],
 ['B02617', '2/8/2015', '1256', '11004'],
 ['B02617', '2/9/2015', '1312', '10887'],
 ['B02617', '2/10/2015', '1364', '11401'],
 ['B02617', '2/11/2015', '1450', '12749'],
 ['B02617', '2/12/2015', '1532', '14263'],
 ['B02617', '2/13/2015', '1590', '16996'],
 ['B02617', '2/14/2015', '1486', '16999'],
 ['B02617', '2/15/2015', '1293', '14662'],
 ['B02617', '2/16/2015', '1214', '11824'],
 ['B02617', '2/17/2015', '1378', '12524'],
 ['B02617', '2/18/2015', '1394', '12016'],
 ['B02617', '2/19/2015', '1452', '14750'],
 ['B02617', '2/20/2015', '1574', '16856'],
 ['B02617', '2/21/2015', '1443', '16098'],
 ['B02617', '2/22/2015', '1248', '10696'],
 ['B02617', '2/23/2015', '1332', '11720'],
 ['B02617', '2/24/2015', '1456', '13719'],
 ['B02617', '2/25/2015', '1473', '12811'],
 ['B02617', '2/26/2015', '1539', '14461'],
 ['B02617', '2/27/2015', '1551', '14677'],
 ['B02617', '2/28/2015', '1372', '14022']]

In [34]:
# Total of days that the number of trips was more than 16000
b02017_rdd.filter(lambda row: int(row[3]) > 16000).collect()

[['B02617', '2/13/2015', '1590', '16996'],
 ['B02617', '2/14/2015', '1486', '16999'],
 ['B02617', '2/20/2015', '1574', '16856'],
 ['B02617', '2/21/2015', '1443', '16098']]

In [39]:
# Apply reduction to calculate the total per base, in decrescent order
file_path = '/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/uber.csv'

uber_rdd2 = sc.textFile(file_path).filter(lambda row: 'base' not in row ).map(lambda row: row.split(','))
# uber_rdd2 = sc.textFile(file_path).map(lambda row: row.split(','))

uber_rdd2.collect()

[['B02512', '1/1/2015', '190', '1132'],
 ['B02765', '1/1/2015', '225', '1765'],
 ['B02764', '1/1/2015', '3427', '29421'],
 ['B02682', '1/1/2015', '945', '7679'],
 ['B02617', '1/1/2015', '1228', '9537'],
 ['B02598', '1/1/2015', '870', '6903'],
 ['B02598', '1/2/2015', '785', '4768'],
 ['B02617', '1/2/2015', '1137', '7065'],
 ['B02512', '1/2/2015', '175', '875'],
 ['B02682', '1/2/2015', '890', '5506'],
 ['B02765', '1/2/2015', '196', '1001'],
 ['B02764', '1/2/2015', '3147', '19974'],
 ['B02765', '1/3/2015', '201', '1526'],
 ['B02617', '1/3/2015', '1188', '10664'],
 ['B02598', '1/3/2015', '818', '7432'],
 ['B02682', '1/3/2015', '915', '8010'],
 ['B02512', '1/3/2015', '173', '1088'],
 ['B02764', '1/3/2015', '3215', '29729'],
 ['B02512', '1/4/2015', '147', '791'],
 ['B02682', '1/4/2015', '812', '5621'],
 ['B02598', '1/4/2015', '746', '5223'],
 ['B02765', '1/4/2015', '183', '993'],
 ['B02617', '1/4/2015', '1088', '7729'],
 ['B02764', '1/4/2015', '2862', '20441'],
 ['B02512', '1/5/2015', '194', '984'],
 ['B02682', '1/5/2015', '951', '6012'],
 ['B02617', '1/5/2015', '1218', '7899'],
 ['B02764', '1/5/2015', '3387', '20926'],
 ['B02598', '1/5/2015', '907', '5798'],
 ['B02765', '1/5/2015', '227', '1133'],
 ['B02764', '1/6/2015', '3473', '25301'],
 ['B02682', '1/6/2015', '1022', '7491'],
 ['B02617', '1/6/2015', '1336', '10128'],
 ['B02765', '1/6/2015', '234', '1376'],
 ['B02512', '1/6/2015', '218', '1314'],
 ['B02598', '1/6/2015', '933', '6816'],
 ['B02617', '1/7/2015', '1363', '11528'],
 ['B02682', '1/7/2015', '1039', '9078'],
 ['B02764', '1/7/2015', '3603', '29949'],
 ['B02765', '1/7/2015', '248', '1704'],
 ['B02512', '1/7/2015', '217', '1446'],
 ['B02598', '1/7/2015', '974', '8397'],
 ['B02765', '1/8/2015', '262', '1911'],
 ['B02598', '1/8/2015', '1070', '10050'],
 ['B02512', '1/8/2015', '238', '1772'],
 ['B02682', '1/8/2015', '1135', '10416'],
 ['B02764', '1/8/2015', '3831', '33802'],
 ['B02617', '1/8/2015', '1463', '13462'],
 ['B02617', '1/9/2015', '1455', '13165'],
 ['B02512', '1/9/2015', '224', '1560'],
 ['B02764', '1/9/2015', '3820', '33517'],
 ['B02682', '1/9/2015', '1140', '10477'],
 ['B02598', '1/9/2015', '1070', '9538'],
 ['B02765', '1/9/2015', '280', '2039'],
 ['B02682', '1/10/2015', '1057', '11629'],
 ['B02617', '1/10/2015', '1331', '13856'],
 ['B02598', '1/10/2015', '949', '10287'],
 ['B02512', '1/10/2015', '206', '1646'],
 ['B02764', '1/10/2015', '3558', '38864'],
 ['B02765', '1/10/2015', '245', '2202'],
 ['B02765', '1/11/2015', '220', '1672'],
 ['B02598', '1/11/2015', '832', '7176'],
 ['B02682', '1/11/2015', '943', '8461'],
 ['B02764', '1/11/2015', '3186', '27681'],
 ['B02617', '1/11/2015', '1228', '10932'],
 ['B02512', '1/11/2015', '162', '1104'],
 ['B02764', '1/12/2015', '3499', '26852'],
 ['B02765', '1/12/2015', '279', '1711'],
 ['B02512', '1/12/2015', '217', '1399'],
 ['B02598', '1/12/2015', '964', '7915'],
 ['B02682', '1/12/2015', '1082', '9107'],
 ['B02617', '1/12/2015', '1323', '10662'],
 ['B02765', '1/13/2015', '258', '1697'],
 ['B02598', '1/13/2015', '975', '8713'],
 ['B02617', '1/13/2015', '1342', '11825'],
 ['B02512', '1/13/2015', '234', '1652'],
 ['B02764', '1/13/2015', '3658', '29983'],
 ['B02682', '1/13/2015', '1092', '9629'],
 ['B02764', '1/14/2015', '3736', '29550'],
 ['B02765', '1/14/2015', '271', '1600'],
 ['B02598', '1/14/2015', '1030', '8870'],
 ['B02512', '1/14/2015', '233', '1582'],
 ['B02617', '1/14/2015', '1405', '11965'],
 ['B02682', '1/14/2015', '1174', '9762'],
 ['B02512', '1/15/2015', '237', '1636'],
 ['B02682', '1/15/2015', '1208', '10391'],
 ['B02617', '1/15/2015', '1457', '12539'],
 ['B02765', '1/15/2015', '270', '1797'],
 ['B02764', '1/15/2015', '3840', '31214'],
 ['B02598', '1/15/2015', '1068', '9152'],
 ['B02617', '1/16/2015', '1445', '12977'],
 ['B02765', '1/16/2015', '290', '2082'],
 ['B02764', '1/16/2015', '3975', '34822'],
 ['B02682', '1/16/2015', '1250', '11280'],
 ['B02512', '1/16/2015', '234', '1481'],
 ['B02598', '1/16/2015', '1079', '9838'],
 ['B02598', '1/17/2015', '974', '9546'],
 ['B02512', '1/17/2015', '201', '1281'],
 ['B02682', '1/17/2015', '1137', '11382'],
 ['B02765', '1/17/2015', '252', '2160'],
 ['B02617', '1/17/2015', '1306', '12676'],
 ['B02764', '1/17/2015', '3657', '36318'],
 ['B02512', '1/18/2015', '177', '1521'],
 ['B02598', '1/18/2015', '869', '9443'],
 ['B02765', '1/18/2015', '248', '2287'],
 ['B02764', '1/18/2015', '3290', '35182'],
 ['B02682', '1/18/2015', '1056', '11161'],
 ['B02617', '1/18/2015', '1223', '12879'],
 ['B02682', '1/19/2015', '883', '7028'],
 ['B02617', '1/19/2015', '992', '7775'],
 ['B02765', '1/19/2015', '238', '1568'],
 ['B02764', '1/19/2015', '2958', '22750'],
 ['B02512', '1/19/2015', '168', '1025'],
 ['B02598', '1/19/2015', '706', '5609'],
 ['B02598', '1/20/2015', '944', '7206'],
 ['B02682', '1/20/2015', '1151', '8496'],
 ['B02512', '1/20/2015', '221', '1310'],
 ['B02764', '1/20/2015', '3654', '26137'],
 ['B02765', '1/20/2015', '272', '1608'],
 ['B02617', '1/20/2015', '1350', '10015'],
 ['B02764', '1/21/2015', '3718', '27344'],
 ['B02512', '1/21/2015', '242', '1519'],
 ['B02682', '1/21/2015', '1228', '9472'],
 ['B02598', '1/21/2015', '1035', '8041'],
 ['B02765', '1/21/2015', '296', '1774'],
 ['B02617', '1/21/2015', '1429', '10997'],
 ['B02617', '1/22/2015', '1471', '12143'],
 ['B02764', '1/22/2015', '3889', '30091'],
 ['B02512', '1/22/2015', '246', '1551'],
 ['B02598', '1/22/2015', '1071', '9080'],
 ['B02682', '1/22/2015', '1295', '10699'],
 ['B02765', '1/22/2015', '295', '2038'],
 ['B02598', '1/23/2015', '1093', '9343'],
 ['B02512', '1/23/2015', '246', '1670'],
 ['B02765', '1/23/2015', '299', '2162'],
 ['B02764', '1/23/2015', '4040', '33756'],
 ['B02617', '1/23/2015', '1482', '13121'],
 ['B02682', '1/23/2015', '1330', '11767'],
 ['B02598', '1/24/2015', '945', '10040'],
 ['B02764', '1/24/2015', '3652', '39187'],
 ['B02512', '1/24/2015', '211', '1608'],
 ['B02617', '1/24/2015', '1367', '14143'],
 ['B02682', '1/24/2015', '1223', '13355'],
 ['B02765', '1/24/2015', '245', '2376'],
 ['B02512', '1/25/2015', '183', '1190'],
 ['B02764', '1/25/2015', '3300', '28066'],
 ['B02765', '1/25/2015', '226', '1755'],
 ['B02598', '1/25/2015', '829', '7219'],
 ['B02682', '1/25/2015', '1046', '9303'],
 ['B02617', '1/25/2015', '1203', '10362'],
 ['B02617', '1/26/2015', '1150', '7608'],
 ['B02598', '1/26/2015', '860', '5919'],
 ['B02765', '1/26/2015', '230', '1363'],
 ['B02764', '1/26/2015', '3012', '19940'],
 ['B02682', '1/26/2015', '1084', '7565'],
 ['B02512', '1/26/2015', '197', '1000'],
 ['B02682', '1/27/2015', '600', '4414'],
 ['B02765', '1/27/2015', '135', '921'],
 ['B02617', '1/27/2015', '596', '4325'],
 ['B02598', '1/27/2015', '434', '2957'],
 ['B02512', '1/27/2015', '112', '629'],
 ['B02764', '1/27/2015', '1619', '11998'],
 ['B02764', '1/28/2015', '3692', '28137'],
 ['B02682', '1/28/2015', '1235', '10025'],
 ['B02765', '1/28/2015', '286', '1913'],
 ['B02617', '1/28/2015', '1356', '10862'],
 ['B02598', '1/28/2015', '1011', '8071'],
 ['B02512', '1/28/2015', '235', '1438'],
 ['B02617', '1/29/2015', '1474', '12600'],
 ['B02764', '1/29/2015', '3959', '31637'],
 ['B02682', '1/29/2015', '1316', '11485'],
 ['B02765', '1/29/2015', '295', '2086'],
 ['B02512', '1/29/2015', '250', '1687'],
 ['B02598', '1/29/2015', '1082', '9499'],
 ['B02512', '1/30/2015', '256', '2016'],
 ['B02617', '1/30/2015', '1501', '14793'],
 ['B02682', '1/30/2015', '1384', '13852'],
 ['B02764', '1/30/2015', '4124', '39110'],
 ['B02765', '1/30/2015', '322', '2785'],
 ['B02598', '1/30/2015', '1106', '11167'],
 ['B02765', '1/31/2015', '309', '3282'],
 ['B02512', '1/31/2015', '225', '1892'],
 ['B02617', '1/31/2015', '1394', '15756'],
 ['B02682', '1/31/2015', '1321', '15388'],
 ['B02764', '1/31/2015', '3947', '44297'],
 ['B02598', '1/31/2015', '1027', '11642'],
 ['B02598', '2/1/2015', '961', '9499'],
 ['B02682', '2/1/2015', '1214', '12436'],
 ['B02512', '2/1/2015', '193', '1377'],
 ['B02765', '2/1/2015', '289', '2672'],
 ['B02617', '2/1/2015', '1355', '13458'],
 ['B02764', '2/1/2015', '3740', '37468'],
 ['B02617', '2/2/2015', '1217', '12216'],
 ['B02682', '2/2/2015', '1152', '11981'],
 ['B02765', '2/2/2015', '275', '2607'],
 ['B02598', '2/2/2015', '939', '9511'],
 ['B02764', '2/2/2015', '3270', '30761'],
 ['B02512', '2/2/2015', '227', '1904'],
 ['B02765', '2/3/2015', '299', '2410'],
 ['B02598', '2/3/2015', '991', '9602'],
 ['B02512', '2/3/2015', '257', '1915'],
 ['B02764', '2/3/2015', '3674', '31641'],
 ['B02617', '2/3/2015', '1350', '12665'],
 ['B02682', '2/3/2015', '1269', '11955'],
 ['B02764', '2/4/2015', '3856', '29994'],
 ['B02765', '2/4/2015', '309', '2334'],
 ['B02512', '2/4/2015', '244', '1639'],
 ['B02682', '2/4/2015', '1311', '11309'],
 ['B02617', '2/4/2015', '1393', '11959'],
 ['B02598', '2/4/2015', '1072', '9600'],
 ['B02617', '2/5/2015', '1524', '14499'],
 ['B02682', '2/5/2015', '1418', '13782'],
 ['B02598', '2/5/2015', '1179', '11609'],
 ['B02512', '2/5/2015', '264', '2022'],
 ['B02765', '2/5/2015', '355', '3011'],
 ['B02764', '2/5/2015', '4093', '35990'],
 ['B02617', '2/6/2015', '1526', '15417'],
 ['B02765', '2/6/2015', '385', '3569'],
 ['B02598', '2/6/2015', '1181', '11897'],
 ['B02512', '2/6/2015', '261', '1989'],
 ['B02764', '2/6/2015', '4170', '38693'],
 ['B02682', '2/6/2015', '1414', '14375'],
 ['B02598', '2/7/2015', '1031', '10512'],
 ['B02512', '2/7/2015', '211', '1504'],
 ['B02617', '2/7/2015', '1383', '13688'],
 ['B02682', '2/7/2015', '1300', '13450'],
 ['B02764', '2/7/2015', '3849', '38530'],
 ['B02765', '2/7/2015', '345', '3473'],
 ['B02764', '2/8/2015', '3422', '29692'],
 ['B02765', '2/8/2015', '313', '2623'],
 ['B02598', '2/8/2015', '923', '8129'],
 ['B02617', '2/8/2015', '1256', '11004'],
 ['B02682', '2/8/2015', '1136', '10356'],
 ['B02512', '2/8/2015', '176', '1196'],
 ['B02617', '2/9/2015', '1312', '10887'],
 ['B02682', '2/9/2015', '1241', '10209'],
 ['B02598', '2/9/2015', '976', '8135'],
 ['B02764', '2/9/2015', '3543', '28266'],
 ['B02512', '2/9/2015', '228', '1565'],
 ['B02765', '2/9/2015', '388', '2894'],
 ['B02764', '2/10/2015', '3700', '29124'],
 ['B02512', '2/10/2015', '233', '1555'],
 ['B02617', '2/10/2015', '1364', '11401'],
 ['B02765', '2/10/2015', '422', '3432'],
 ['B02682', '2/10/2015', '1281', '10536'],
 ['B02598', '2/10/2015', '1029', '8718'],
 ['B02617', '2/11/2015', '1450', '12749'],
 ['B02764', '2/11/2015', '3849', '31889'],
 ['B02512', '2/11/2015', '255', '1831'],
 ['B02598', '2/11/2015', '1115', '10034'],
 ['B02765', '2/11/2015', '450', '3778'],
 ['B02682', '2/11/2015', '1396', '12189'],
 ['B02617', '2/12/2015', '1532', '14263'],
 ['B02512', '2/12/2015', '269', '2092'],
 ['B02682', '2/12/2015', '1468', '13786'],
 ['B02765', '2/12/2015', '536', '4609'],
 ['B02598', '2/12/2015', '1181', '11640'],
 ['B02764', '2/12/2015', '4137', '36844'],
 ['B02617', '2/13/2015', '1590', '16996'],
 ['B02682', '2/13/2015', '1523', '16088'],
 ['B02764', '2/13/2015', '4395', '43561'],
 ['B02765', '2/13/2015', '599', '5909'],
 ['B02512', '2/13/2015', '281', '2408'],
 ['B02598', '2/13/2015', '1216', '13062'],
 ['B02764', '2/14/2015', '4129', '45858'],
 ['B02512', '2/14/2015', '236', '2055'],
 ['B02598', '2/14/2015', '1111', '12678'],
 ['B02765', '2/14/2015', '583', '6307'],
 ['B02617', '2/14/2015', '1486', '16999'],
 ['B02682', '2/14/2015', '1428', '16448'],
 ['B02682', '2/15/2015', '1261', '14517'],
 ['B02764', '2/15/2015', '3651', '41209'],
 ['B02617', '2/15/2015', '1293', '14662'],
 ['B02765', '2/15/2015', '521', '5500'],
 ['B02512', '2/15/2015', '210', '1996'],
 ['B02598', '2/15/2015', '1003', '11517'],
 ['B02598', '2/16/2015', '934', '9052'],
 ['B02512', '2/16/2015', '207', '1576'],
 ['B02617', '2/16/2015', '1214', '11824'],
 ['B02764', '2/16/2015', '3524', '33448'],
 ['B02682', '2/16/2015', '1164', '11323'],
 ['B02765', '2/16/2015', '508', '4875'],
 ['B02764', '2/17/2015', '3826', '32473'],
 ['B02512', '2/17/2015', '241', '1797'],
 ['B02682', '2/17/2015', '1314', '11887'],
 ['B02617', '2/17/2015', '1378', '12524'],
 ['B02598', '2/17/2015', '1066', '9463'],
 ['B02765', '2/17/2015', '578', '4907'],
 ['B02598', '2/18/2015', '1078', '9538'],
 ['B02682', '2/18/2015', '1314', '11724'],
 ['B02617', '2/18/2015', '1394', '12016'],
 ['B02765', '2/18/2015', '586', '5059'],
 ['B02764', '2/18/2015', '3842', '32317'],
 ['B02512', '2/18/2015', '228', '1589'],
 ['B02598', '2/19/2015', '1127', '11739'],
 ['B02512', '2/19/2015', '250', '2120'],
 ['B02682', '2/19/2015', '1428', '14591'],
 ['B02764', '2/19/2015', '4110', '39110'],
 ['B02765', '2/19/2015', '663', '6447'],
 ['B02617', '2/19/2015', '1452', '14750'],
 ['B02764', '2/20/2015', '4384', '44755'],
 ['B02617', '2/20/2015', '1574', '16856'],
 ['B02598', '2/20/2015', '1186', '12758'],
 ['B02682', '2/20/2015', '1497', '16342'],
 ['B02765', '2/20/2015', '736', '7824'],
 ['B02512', '2/20/2015', '272', '2380'],
 ['B02598', '2/21/2015', '1044', '12132'],
 ['B02682', '2/21/2015', '1374', '16149'],
 ['B02765', '2/21/2015', '685', '7658'],
 ['B02617', '2/21/2015', '1443', '16098'],
 ['B02512', '2/21/2015', '238', '2149'],
 ['B02764', '2/21/2015', '3981', '44194'],
 ['B02512', '2/22/2015', '199', '1312'],
 ['B02617', '2/22/2015', '1248', '10696'],
 ['B02682', '2/22/2015', '1220', '10970'],
 ['B02764', '2/22/2015', '3478', '30157'],
 ['B02598', '2/22/2015', '909', '8271'],
 ['B02765', '2/22/2015', '566', '5034'],
 ['B02598', '2/23/2015', '966', '8943'],
 ['B02617', '2/23/2015', '1332', '11720'],
 ['B02764', '2/23/2015', '3734', '31173'],
 ['B02682', '2/23/2015', '1262', '11714'],
 ['B02765', '2/23/2015', '665', '5823'],
 ['B02512', '2/23/2015', '238', '1844'],
 ['B02764', '2/24/2015', '3965', '34686'],
 ['B02512', '2/24/2015', '247', '1869'],
 ['B02598', '2/24/2015', '1061', '9954'],
 ['B02682', '2/24/2015', '1346', '12497'],
 ['B02617', '2/24/2015', '1456', '13719'],
 ['B02765', '2/24/2015', '698', '6390'],
 ['B02512', '2/25/2015', '246', '1647'],
 ['B02598', '2/25/2015', '1076', '9405'],
 ['B02765', '2/25/2015', '706', '6178'],
 ['B02682', '2/25/2015', '1395', '12693'],
 ['B02617', '2/25/2015', '1473', '12811'],
 ['B02764', '2/25/2015', '3934', '31957'],
 ['B02598', '2/26/2015', '1134', '10661'],
 ['B02617', '2/26/2015', '1539', '14461'],
 ['B02682', '2/26/2015', '1465', '13814'],
 ['B02512', '2/26/2015', '243', '1797'],
 ['B02765', '2/26/2015', '745', '6744'],
 ['B02764', '2/26/2015', '4101', '36091'],
 ['B02765', '2/27/2015', '786', '7563'],
 ['B02617', '2/27/2015', '1551', '14677'],
 ['B02598', '2/27/2015', '1114', '10755'],
 ['B02512', '2/27/2015', '272', '2056'],
 ['B02764', '2/27/2015', '4253', '38780'],
 ['B02682', '2/27/2015', '1510', '14975'],
 ['B02598', '2/28/2015', '994', '10319'],
 ['B02764', '2/28/2015', '3952', '39812'],
 ['B02617', '2/28/2015', '1372', '14022'],
 ['B02682', '2/28/2015', '1386', '14472'],
 ['B02512', '2/28/2015', '230', '1803'],
 ['B02765', '2/28/2015', '747', '7753']]

In [42]:
# Apply reduction to calculate the total per base
uber_rdd2.map(lambda kp: (kp[0], int(kp[3]))).reduceByKey(lambda k,v: k+v).takeOrdered(10,key=lambda x:-x[1])

[('B02764', 1914449),
 ('B02617', 725025),
 ('B02682', 662509),
 ('B02598', 540791),
 ('B02765', 193670),
 ('B02512', 93786)]