<a href="https://colab.research.google.com/github/ralsouza/apache_spark_real_time_analytics/blob/master/notebooks/04_spark_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install and Setup

In [1]:
!apt-get update

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Hit:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [9,834 B]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,042 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [890 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [101 kB]
Ign:18 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:18 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [255 kB]
Get:19 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,857 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,341 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [117 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [27.4 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,418 kB]
Get:24 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [896 kB]
Fetched 8,225 kB in 3s (2,486 kB/s)
Reading package lists... Done

In [2]:
# Install the dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
# Environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
 
# tornar o pyspark "importável"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')

In [4]:
# Libraries and Context Setup
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)

# Instance Spark Session
spark = SparkSession.builder.master('local').appName('My-SparkSQL').getOrCreate()

# Create the SQL Context
sqlContext = pyspark.SQLContext(sc)

In [5]:
# Check context
print(sc)

<SparkContext master=local[*] appName=pyspark-shell>

In [ ]:
#  sc.stop()

# Spark SQL - Spark Session and SQL Context

In [8]:
# Load cars dataset
rows_rdd1 = sc.textFile('/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/carros.csv')

In [9]:
# Count rows
rows_rdd1.count()

198

In [10]:
# Remove the first row - Lazy Transformation 1
rows_rdd2 = rows_rdd1.filter(lambda x: 'FUELTYPE' not in x)

In [11]:
# One row removed
rows_rdd2.count()

197

In [12]:
# Spliting the dataset in columns - Lazy Transformation 2
rows_rdd3 = rows_rdd2.map(lambda line:line.split(','))

In [13]:
# Spliting the dataset in columns - Lazy Transformation 3
rows_rdd4 = rows_rdd3.map(lambda p: Row(make=p[0],body=p[4],hp=int(p[7])))

In [14]:
print(rows_rdd4)

PythonRDD[6] at RDD at PythonRDD.scala:53

In [15]:
# Collect action
rows_rdd4.collect()

[Row(body='hatchback', hp=69, make='subaru'),
 Row(body='hatchback', hp=48, make='chevrolet'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='hatchback', hp=60, make='honda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=68, make='plymouth'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=68, make='plymouth'),
 Row(body='hatchback', hp=70, make='chevrolet'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=58, make='honda'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='sedan', hp=70, make='chevrolet'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='sedan', hp=68, make='dodge'),
 Row(body='sedan', hp=68, make='plymouth'),
 Row(body='sedan', hp=68, make='mazda'),
 Row(body='sedan', hp=78, make='isuzu'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=88, make='mitsubishi'),
 Row(body='hatchback', hp=73, make='subaru'),
 Row(body='sedan', hp=55, make='nissan'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='sedan', hp=76, make='honda'),
 Row(body='wagon', hp=76, make='honda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='wagon', hp=69, make='nissan'),
 Row(body='sedan', hp=68, make='mazda'),
 Row(body='wagon', hp=82, make='subaru'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=73, make='subaru'),
 Row(body='sedan', hp=68, make='dodge'),
 Row(body='sedan', hp=68, make='plymouth'),
 Row(body='hatchback', hp=102, make='mitsubishi'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='sedan', hp=52, make='volkswagen'),
 Row(body='hatchback', hp=56, make='toyota'),
 Row(body='hatchback', hp=69, make='nissan'),
 Row(body='hatchback', hp=86, make='honda'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=56, make='toyota'),
 Row(body='hatchback', hp=102, make='dodge'),
 Row(body='hatchback', hp=102, make='plymouth'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='sedan', hp=52, make='volkswagen'),
 Row(body='wagon', hp=69, make='nissan'),
 Row(body='wagon', hp=82, make='subaru'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=88, make='mitsubishi'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='hardtop', hp=69, make='nissan'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='sedan', hp=84, make='mazda'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='hatchback', hp=88, make='mitsubishi'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=86, make='honda'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='wagon', hp=88, make='dodge'),
 Row(body='wagon', hp=88, make='plymouth'),
 Row(body='sedan', hp=92, make='toyota'),
 Row(body='hatchback', hp=97, make='nissan'),
 Row(body='hatchback', hp=86, make='honda'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=112, make='toyota'),
 Row(body='sedan', hp=68, make='volkswagen'),
 Row(body='hatchback', hp=112, make='toyota'),
 Row(body='sedan', hp=97, make='nissan'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='hatchback', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=94, make='subaru'),
 Row(body='hatchback', hp=90, make='volkswagen'),
 Row(body='hatchback', hp=92, make='toyota'),
 Row(body='hatchback', hp=116, make='toyota'),
 Row(body='sedan', hp=100, make='volkswagen'),
 Row(body='wagon', hp=94, make='subaru'),
 Row(body='sedan', hp=84, make='mazda'),
 Row(body='sedan', hp=86, make='honda'),
 Row(body='sedan', hp=100, make='honda'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='sedan', hp=73, make='toyota'),
 Row(body='sedan', hp=92, make='toyota'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='hatchback', hp=90, make='isuzu'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='hatchback', hp=92, make='toyota'),
 Row(body='sedan', hp=111, make='subaru'),
 Row(body='hatchback', hp=116, make='toyota'),
 Row(body='convertible', hp=90, make='volkswagen'),
 Row(body='wagon', hp=111, make='subaru'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='hatchback', hp=110, make='saab'),
 Row(body='sedan', hp=97, make='peugot'),
 Row(body='sedan', hp=110, make='saab'),
 Row(body='wagon', hp=88, make='volkswagen'),
 Row(body='wagon', hp=97, make='peugot'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=145, make='plymouth'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=101, make='honda'),
 Row(body='hatchback', hp=145, make='dodge'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=110, make='volkswagen'),
 Row(body='wagon', hp=114, make='volvo'),
 Row(body='convertible', hp=111, make='alfa-romero'),
 Row(body='sedan', hp=152, make='nissan'),
 Row(body='sedan', hp=152, make='nissan'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='sedan', hp=68, make='volkswagen'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='sedan', hp=102, make='audi'),
 Row(body='wagon', hp=152, make='nissan'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=110, make='saab'),
 Row(body='sedan', hp=110, make='audi'),
 Row(body='sedan', hp=110, make='saab'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='hatchback', hp=135, make='mazda'),
 Row(body='sedan', hp=156, make='toyota'),
 Row(body='wagon', hp=156, make='toyota'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='hatchback', hp=161, make='toyota'),
 Row(body='sedan', hp=101, make='bmw'),
 Row(body='convertible', hp=111, make='alfa-romero'),
 Row(body='hatchback', hp=154, make='alfa-romero'),
 Row(body='hatchback', hp=175, make='mercury'),
 Row(body='wagon', hp=114, make='volvo'),
 Row(body='hatchback', hp=161, make='toyota'),
 Row(body='sedan', hp=97, make='peugot'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=101, make='bmw'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='hatchback', hp=160, make='nissan'),
 Row(body='sedan', hp=115, make='audi'),
 Row(body='convertible', hp=116, make='toyota'),
 Row(body='sedan', hp=110, make='audi'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=142, make='peugot'),
 Row(body='hatchback', hp=160, make='saab'),
 Row(body='sedan', hp=120, make='mazda'),
 Row(body='sedan', hp=72, make='mazda'),
 Row(body='hatchback', hp=160, make='nissan'),
 Row(body='sedan', hp=162, make='volvo'),
 Row(body='sedan', hp=160, make='saab'),
 Row(body='wagon', hp=110, make='audi'),
 Row(body='wagon', hp=162, make='volvo'),
 Row(body='sedan', hp=160, make='volvo'),
 Row(body='hatchback', hp=200, make='nissan'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=134, make='volvo'),
 Row(body='hatchback', hp=143, make='porsche'),
 Row(body='sedan', hp=106, make='volvo'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=140, make='audi'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=123, make='mercedes-benz'),
 Row(body='hardtop', hp=123, make='mercedes-benz'),
 Row(body='wagon', hp=123, make='mercedes-benz'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='sedan', hp=123, make='mercedes-benz'),
 Row(body='sedan', hp=176, make='jaguar'),
 Row(body='hardtop', hp=207, make='porsche'),
 Row(body='hardtop', hp=207, make='porsche'),
 Row(body='sedan', hp=155, make='mercedes-benz'),
 Row(body='convertible', hp=155, make='mercedes-benz'),
 Row(body='sedan', hp=176, make='jaguar'),
 Row(body='sedan', hp=262, make='jaguar'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='convertible', hp=207, make='porsche'),
 Row(body='sedan', hp=184, make='mercedes-benz'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='hardtop', hp=184, make='mercedes-benz')]

In [16]:
# Create a dataframe from a RDD
df_rows = spark.createDataFrame(rows_rdd4)

In [17]:
# Show dataframe
df_rows.show()

+---------+---+----------+
|     body| hp|      make|
+---------+---+----------+
|hatchback| 69|    subaru|
|hatchback| 48| chevrolet|
|hatchback| 68|     mazda|
|hatchback| 62|    toyota|
|hatchback| 68|mitsubishi|
|hatchback| 60|     honda|
|    sedan| 69|    nissan|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 68|     mazda|
|hatchback| 68|mitsubishi|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 70| chevrolet|
|hatchback| 62|    toyota|
|hatchback| 68|     dodge|
|hatchback| 58|     honda|
|hatchback| 62|    toyota|
|hatchback| 76|     honda|
|    sedan| 70| chevrolet|
+---------+---+----------+
only showing top 20 rows

In [19]:
# Check type
type(df_rows)

pyspark.sql.dataframe.DataFrame

## Using SQL commands with Spark

In [20]:
# Selecting all rows
df_rows.select('*').show()

+---------+---+----------+
|     body| hp|      make|
+---------+---+----------+
|hatchback| 69|    subaru|
|hatchback| 48| chevrolet|
|hatchback| 68|     mazda|
|hatchback| 62|    toyota|
|hatchback| 68|mitsubishi|
|hatchback| 60|     honda|
|    sedan| 69|    nissan|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 68|     mazda|
|hatchback| 68|mitsubishi|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 70| chevrolet|
|hatchback| 62|    toyota|
|hatchback| 68|     dodge|
|hatchback| 58|     honda|
|hatchback| 62|    toyota|
|hatchback| 76|     honda|
|    sedan| 70| chevrolet|
+---------+---+----------+
only showing top 20 rows

In [21]:
# Select all rows sorting by make
df_rows.orderBy('make').show()

+-----------+---+-----------+
|       body| hp|       make|
+-----------+---+-----------+
|  hatchback|154|alfa-romero|
|convertible|111|alfa-romero|
|convertible|111|alfa-romero|
|      sedan|110|       audi|
|      sedan|115|       audi|
|      sedan|110|       audi|
|      wagon|110|       audi|
|      sedan|140|       audi|
|      sedan|102|       audi|
|      sedan|101|        bmw|
|      sedan|101|        bmw|
|      sedan|121|        bmw|
|      sedan|121|        bmw|
|      sedan|182|        bmw|
|      sedan|182|        bmw|
|      sedan|121|        bmw|
|      sedan|182|        bmw|
|      sedan| 70|  chevrolet|
|  hatchback| 70|  chevrolet|
|  hatchback| 48|  chevrolet|
+-----------+---+-----------+
only showing top 20 rows

In [23]:
# Create a in-memory temporary table to use ANSI SQL
df_rows.createOrReplaceTempView('tbl_rows')

In [24]:
# Executing a ANSI SQL
spark.sql("select * from tbl_rows where make = 'nissan'").show()

+---------+---+------+
|     body| hp|  make|
+---------+---+------+
|    sedan| 69|nissan|
|    sedan| 69|nissan|
|    sedan| 69|nissan|
|    sedan| 55|nissan|
|    sedan| 69|nissan|
|    wagon| 69|nissan|
|    sedan| 69|nissan|
|hatchback| 69|nissan|
|    wagon| 69|nissan|
|  hardtop| 69|nissan|
|hatchback| 97|nissan|
|    sedan| 97|nissan|
|    sedan|152|nissan|
|    sedan|152|nissan|
|    wagon|152|nissan|
|hatchback|160|nissan|
|hatchback|160|nissan|
|hatchback|200|nissan|
+---------+---+------+

In [25]:
# Selecting data with calcs
spark.sql('select make,body,avg(hp) from tbl_rows group by make,body').show()

+-------------+-----------+-----------------+
|         make|       body|          avg(hp)|
+-------------+-----------+-----------------+
|       nissan|      wagon|96.66666666666667|
|       subaru|      sedan|             90.2|
|     plymouth|      sedan|             68.0|
|        dodge|  hatchback|             90.2|
|       nissan|      sedan|             89.0|
|        honda|      sedan|             89.8|
|   mitsubishi|  hatchback|            105.0|
|        mazda|      sedan|82.66666666666667|
|  alfa-romero|convertible|            111.0|
|mercedes-benz|convertible|            155.0|
|     plymouth|      wagon|             88.0|
|mercedes-benz|      wagon|            123.0|
|        isuzu|  hatchback|             90.0|
|       toyota|convertible|            116.0|
|        mazda|  hatchback|             89.4|
|    chevrolet|      sedan|             70.0|
|      mercury|  hatchback|            175.0|
|      porsche|  hatchback|            143.0|
|        honda|      wagon|             76.0|
|      porsche|convertible|            207.0|
+-------------+-----------+-----------------+
only showing top 20 rows

# Monitor Jobs - Spark UI

In [ ]:
spark

In [ ]:
# If you are running this Colab on the Google hosted runtime, the cell below 
# will create a ngrok tunnel which will allow you to still check the Spark UI.
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2020-08-19 10:30:30--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.159.87.23, 52.54.251.217, 34.233.175.36, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.159.87.23|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13773305 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.13M  60.9MB/s    in 0.2s

2020-08-19 10:30:31 (60.9 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13773305/13773305]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
http://3f28f3706035.ngrok.io