<a href="https://colab.research.google.com/github/ralsouza/apache_spark_real_time_analytics/blob/master/notebooks/04_spark_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install and Setup

In [1]:
!apt-get update

Get:1 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:5 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release [564 B]
Get:12 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [123 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,360 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,421 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,050 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [891 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [102 kB]
Get:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [43.0 kB]
Get:20 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,864 kB]
Get:21 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [900 kB]
Get:22 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Packages [95.7 kB]
Get:24 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Packages [47.5 kB]
Fetched 8,190 kB in 2s (3,312 kB/s)
Reading package lists... Done

In [2]:
# Install the dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
# Environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
 
# tornar o pyspark "import√°vel"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')

In [4]:
# Libraries and Context Setup
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)

# Instance Spark Session
spark = SparkSession.builder.master('local').appName('My-SparkSQL').getOrCreate()

# Create the SQL Context
sqlContext = pyspark.SQLContext(sc)

In [ ]:
# Check context
print(sc)

<SparkContext master=local[*] appName=pyspark-shell>

In [ ]:
#  sc.stop()

# Spark SQL - Spark Session and SQL Context

In [ ]:
# Load cars dataset
rows_rdd1 = sc.textFile('/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/carros.csv')

In [ ]:
# Count rows
rows_rdd1.count()

198

In [ ]:
# Remove the first row - Lazy Transformation 1
rows_rdd2 = rows_rdd1.filter(lambda x: 'FUELTYPE' not in x)

In [ ]:
# One row removed
rows_rdd2.count()

197

In [ ]:
# Spliting the dataset in columns - Lazy Transformation 2
rows_rdd3 = rows_rdd2.map(lambda line:line.split(','))

In [ ]:
# Spliting the dataset in columns - Lazy Transformation 3
rows_rdd4 = rows_rdd3.map(lambda p: Row(make=p[0],body=p[4],hp=int(p[7])))

In [ ]:
print(rows_rdd4)

PythonRDD[4] at RDD at PythonRDD.scala:53

In [ ]:
# Collect action
rows_rdd4.collect()

[Row(body='hatchback', hp=69, make='subaru'),
 Row(body='hatchback', hp=48, make='chevrolet'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='hatchback', hp=60, make='honda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=68, make='plymouth'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=68, make='plymouth'),
 Row(body='hatchback', hp=70, make='chevrolet'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=58, make='honda'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='sedan', hp=70, make='chevrolet'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='sedan', hp=68, make='dodge'),
 Row(body='sedan', hp=68, make='plymouth'),
 Row(body='sedan', hp=68, make='mazda'),
 Row(body='sedan', hp=78, make='isuzu'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=88, make='mitsubishi'),
 Row(body='hatchback', hp=73, make='subaru'),
 Row(body='sedan', hp=55, make='nissan'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='sedan', hp=76, make='honda'),
 Row(body='wagon', hp=76, make='honda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='wagon', hp=69, make='nissan'),
 Row(body='sedan', hp=68, make='mazda'),
 Row(body='wagon', hp=82, make='subaru'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=73, make='subaru'),
 Row(body='sedan', hp=68, make='dodge'),
 Row(body='sedan', hp=68, make='plymouth'),
 Row(body='hatchback', hp=102, make='mitsubishi'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='sedan', hp=52, make='volkswagen'),
 Row(body='hatchback', hp=56, make='toyota'),
 Row(body='hatchback', hp=69, make='nissan'),
 Row(body='hatchback', hp=86, make='honda'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=56, make='toyota'),
 Row(body='hatchback', hp=102, make='dodge'),
 Row(body='hatchback', hp=102, make='plymouth'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='sedan', hp=52, make='volkswagen'),
 Row(body='wagon', hp=69, make='nissan'),
 Row(body='wagon', hp=82, make='subaru'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=88, make='mitsubishi'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='hardtop', hp=69, make='nissan'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='sedan', hp=84, make='mazda'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='hatchback', hp=88, make='mitsubishi'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=86, make='honda'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='wagon', hp=88, make='dodge'),
 Row(body='wagon', hp=88, make='plymouth'),
 Row(body='sedan', hp=92, make='toyota'),
 Row(body='hatchback', hp=97, make='nissan'),
 Row(body='hatchback', hp=86, make='honda'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=112, make='toyota'),
 Row(body='sedan', hp=68, make='volkswagen'),
 Row(body='hatchback', hp=112, make='toyota'),
 Row(body='sedan', hp=97, make='nissan'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='hatchback', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=94, make='subaru'),
 Row(body='hatchback', hp=90, make='volkswagen'),
 Row(body='hatchback', hp=92, make='toyota'),
 Row(body='hatchback', hp=116, make='toyota'),
 Row(body='sedan', hp=100, make='volkswagen'),
 Row(body='wagon', hp=94, make='subaru'),
 Row(body='sedan', hp=84, make='mazda'),
 Row(body='sedan', hp=86, make='honda'),
 Row(body='sedan', hp=100, make='honda'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='sedan', hp=73, make='toyota'),
 Row(body='sedan', hp=92, make='toyota'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='hatchback', hp=90, make='isuzu'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='hatchback', hp=92, make='toyota'),
 Row(body='sedan', hp=111, make='subaru'),
 Row(body='hatchback', hp=116, make='toyota'),
 Row(body='convertible', hp=90, make='volkswagen'),
 Row(body='wagon', hp=111, make='subaru'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='hatchback', hp=110, make='saab'),
 Row(body='sedan', hp=97, make='peugot'),
 Row(body='sedan', hp=110, make='saab'),
 Row(body='wagon', hp=88, make='volkswagen'),
 Row(body='wagon', hp=97, make='peugot'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=145, make='plymouth'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=101, make='honda'),
 Row(body='hatchback', hp=145, make='dodge'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=110, make='volkswagen'),
 Row(body='wagon', hp=114, make='volvo'),
 Row(body='convertible', hp=111, make='alfa-romero'),
 Row(body='sedan', hp=152, make='nissan'),
 Row(body='sedan', hp=152, make='nissan'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='sedan', hp=68, make='volkswagen'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='sedan', hp=102, make='audi'),
 Row(body='wagon', hp=152, make='nissan'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=110, make='saab'),
 Row(body='sedan', hp=110, make='audi'),
 Row(body='sedan', hp=110, make='saab'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='hatchback', hp=135, make='mazda'),
 Row(body='sedan', hp=156, make='toyota'),
 Row(body='wagon', hp=156, make='toyota'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='hatchback', hp=161, make='toyota'),
 Row(body='sedan', hp=101, make='bmw'),
 Row(body='convertible', hp=111, make='alfa-romero'),
 Row(body='hatchback', hp=154, make='alfa-romero'),
 Row(body='hatchback', hp=175, make='mercury'),
 Row(body='wagon', hp=114, make='volvo'),
 Row(body='hatchback', hp=161, make='toyota'),
 Row(body='sedan', hp=97, make='peugot'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=101, make='bmw'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='hatchback', hp=160, make='nissan'),
 Row(body='sedan', hp=115, make='audi'),
 Row(body='convertible', hp=116, make='toyota'),
 Row(body='sedan', hp=110, make='audi'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=142, make='peugot'),
 Row(body='hatchback', hp=160, make='saab'),
 Row(body='sedan', hp=120, make='mazda'),
 Row(body='sedan', hp=72, make='mazda'),
 Row(body='hatchback', hp=160, make='nissan'),
 Row(body='sedan', hp=162, make='volvo'),
 Row(body='sedan', hp=160, make='saab'),
 Row(body='wagon', hp=110, make='audi'),
 Row(body='wagon', hp=162, make='volvo'),
 Row(body='sedan', hp=160, make='volvo'),
 Row(body='hatchback', hp=200, make='nissan'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=134, make='volvo'),
 Row(body='hatchback', hp=143, make='porsche'),
 Row(body='sedan', hp=106, make='volvo'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=140, make='audi'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=123, make='mercedes-benz'),
 Row(body='hardtop', hp=123, make='mercedes-benz'),
 Row(body='wagon', hp=123, make='mercedes-benz'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='sedan', hp=123, make='mercedes-benz'),
 Row(body='sedan', hp=176, make='jaguar'),
 Row(body='hardtop', hp=207, make='porsche'),
 Row(body='hardtop', hp=207, make='porsche'),
 Row(body='sedan', hp=155, make='mercedes-benz'),
 Row(body='convertible', hp=155, make='mercedes-benz'),
 Row(body='sedan', hp=176, make='jaguar'),
 Row(body='sedan', hp=262, make='jaguar'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='convertible', hp=207, make='porsche'),
 Row(body='sedan', hp=184, make='mercedes-benz'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='hardtop', hp=184, make='mercedes-benz')]

In [ ]:
# Create a dataframe from a RDD
df_rows = spark.createDataFrame(rows_rdd4)

In [ ]:
# Show dataframe
df_rows.show()

+---------+---+----------+
|     body| hp|      make|
+---------+---+----------+
|hatchback| 69|    subaru|
|hatchback| 48| chevrolet|
|hatchback| 68|     mazda|
|hatchback| 62|    toyota|
|hatchback| 68|mitsubishi|
|hatchback| 60|     honda|
|    sedan| 69|    nissan|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 68|     mazda|
|hatchback| 68|mitsubishi|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 70| chevrolet|
|hatchback| 62|    toyota|
|hatchback| 68|     dodge|
|hatchback| 58|     honda|
|hatchback| 62|    toyota|
|hatchback| 76|     honda|
|    sedan| 70| chevrolet|
+---------+---+----------+
only showing top 20 rows

In [ ]:
# Check type
type(df_rows)

pyspark.sql.dataframe.DataFrame

## Using SQL commands with Spark

In [ ]:
# Selecting all rows
df_rows.select('*').show()

+---------+---+----------+
|     body| hp|      make|
+---------+---+----------+
|hatchback| 69|    subaru|
|hatchback| 48| chevrolet|
|hatchback| 68|     mazda|
|hatchback| 62|    toyota|
|hatchback| 68|mitsubishi|
|hatchback| 60|     honda|
|    sedan| 69|    nissan|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 68|     mazda|
|hatchback| 68|mitsubishi|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 70| chevrolet|
|hatchback| 62|    toyota|
|hatchback| 68|     dodge|
|hatchback| 58|     honda|
|hatchback| 62|    toyota|
|hatchback| 76|     honda|
|    sedan| 70| chevrolet|
+---------+---+----------+
only showing top 20 rows

In [ ]:
# Select all rows sorting by make
df_rows.orderBy('make').show()

+-----------+---+-----------+
|       body| hp|       make|
+-----------+---+-----------+
|  hatchback|154|alfa-romero|
|convertible|111|alfa-romero|
|convertible|111|alfa-romero|
|      sedan|110|       audi|
|      sedan|115|       audi|
|      sedan|110|       audi|
|      wagon|110|       audi|
|      sedan|140|       audi|
|      sedan|102|       audi|
|      sedan|101|        bmw|
|      sedan|101|        bmw|
|      sedan|121|        bmw|
|      sedan|121|        bmw|
|      sedan|182|        bmw|
|      sedan|182|        bmw|
|      sedan|121|        bmw|
|      sedan|182|        bmw|
|      sedan| 70|  chevrolet|
|  hatchback| 70|  chevrolet|
|  hatchback| 48|  chevrolet|
+-----------+---+-----------+
only showing top 20 rows

In [ ]:
# Create a in-memory temporary table to use ANSI SQL
df_rows.createOrReplaceTempView('tbl_rows')

In [ ]:
# Executing a ANSI SQL
spark.sql("select * from tbl_rows where make = 'nissan'").show()

+---------+---+------+
|     body| hp|  make|
+---------+---+------+
|    sedan| 69|nissan|
|    sedan| 69|nissan|
|    sedan| 69|nissan|
|    sedan| 55|nissan|
|    sedan| 69|nissan|
|    wagon| 69|nissan|
|    sedan| 69|nissan|
|hatchback| 69|nissan|
|    wagon| 69|nissan|
|  hardtop| 69|nissan|
|hatchback| 97|nissan|
|    sedan| 97|nissan|
|    sedan|152|nissan|
|    sedan|152|nissan|
|    wagon|152|nissan|
|hatchback|160|nissan|
|hatchback|160|nissan|
|hatchback|200|nissan|
+---------+---+------+

In [ ]:
# Selecting data with calcs
spark.sql('select make,body,avg(hp) from tbl_rows group by make,body').show()

+-------------+-----------+-----------------+
|         make|       body|          avg(hp)|
+-------------+-----------+-----------------+
|       nissan|      wagon|96.66666666666667|
|       subaru|      sedan|             90.2|
|     plymouth|      sedan|             68.0|
|        dodge|  hatchback|             90.2|
|       nissan|      sedan|             89.0|
|        honda|      sedan|             89.8|
|   mitsubishi|  hatchback|            105.0|
|        mazda|      sedan|82.66666666666667|
|  alfa-romero|convertible|            111.0|
|mercedes-benz|convertible|            155.0|
|     plymouth|      wagon|             88.0|
|mercedes-benz|      wagon|            123.0|
|        isuzu|  hatchback|             90.0|
|       toyota|convertible|            116.0|
|        mazda|  hatchback|             89.4|
|    chevrolet|      sedan|             70.0|
|      mercury|  hatchback|            175.0|
|      porsche|  hatchback|            143.0|
|        honda|      wagon|             76.0|
|      porsche|convertible|            207.0|
+-------------+-----------+-----------------+
only showing top 20 rows

## Spark SQL and CSV files

In [ ]:
df_cars = spark.read.csv('/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/carros.csv',header=True)

In [ ]:
type(df_cars)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_cars.show()

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 60|5500|      38|     42| 5399|
|    nissan|     gas|   std|  two|    sedan|  fwd|     four| 69|5200|      31|     37| 5499|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|  plymouth|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      31|     38| 6095|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6189|
|     dodge|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
|  plymouth|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
| chevrolet|     gas|   std|  two|hatchback|  fwd|     four| 70|5400|      38|     43| 6295|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      31|     38| 6338|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6377|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 58|4800|      49|     54| 6479|
|    toyota|     gas|   std| four|hatchback|  fwd|     four| 62|4800|      31|     38| 6488|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 76|6000|      30|     34| 6529|
| chevrolet|     gas|   std| four|    sedan|  fwd|     four| 70|5400|      38|     43| 6575|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 20 rows

In [ ]:
# Exporting the the dataframe to a temp table in-memory
df_cars.createOrReplaceTempView('tbl_cars')

In [ ]:
# Executing a SQL instruction
spark.sql("select make,hp,price from tbl_cars where CYLINDERS = 'three'").show()

+---------+---+-----+
|     make| hp|price|
+---------+---+-----+
|chevrolet| 48| 5151|
+---------+---+-----+

In [ ]:
# storing in an object
cars_tt = spark.sql("select make,hp,price from tbl_cars where CYLINDERS = 'three'")

In [ ]:
cars_tt.show()

+---------+---+-----+
|     make| hp|price|
+---------+---+-----+
|chevrolet| 48| 5151|
+---------+---+-----+

# Applying Machine Learning

In [5]:
# Loading data from csv
cars = sc.textFile('/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/carros.csv')

# Put data into cache
cars.cache()

/content/drive/My Drive/Colab Notebooks/08-apache-spark/data/carros.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [6]:
# Remove the data's header
header = cars.first()

# Select all rows except the header
rows = cars.filter(lambda x:x != header)

# Count selected rows
rows.count()

197

In [7]:
# Import Row function again
from pyspark.sql import Row

In [8]:
# Convert to a vector with rows
def transform_to_numeric(input_str):
  att_list = input_str.split(',')
  doors = 1.0 if att_list[3] == 'two' else 2.0
  body = 1.0 if att_list[4] == 'sedan' else 2.0

  # Filtering non-necessary columns in this step, giving a data structure to rdd
  values = Row(DOORS = doors, BODY = float(body), HP = float(att_list[7]),
               RMP=float(att_list[8]),MPG=float(att_list[9]))

  return values

In [9]:
# Applying the function and persisting in the memory
auto_map = rows.map(transform_to_numeric)
auto_map.persist()
auto_map.collect()

[Row(BODY=2.0, DOORS=1.0, HP=69.0, MPG=31.0, RMP=4900.0),
 Row(BODY=2.0, DOORS=1.0, HP=48.0, MPG=47.0, RMP=5100.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=30.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=62.0, MPG=35.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=37.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=60.0, MPG=38.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=1.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=37.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=37.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=31.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=70.0, MPG=38.0, RMP=5400.0),
 Row(BODY=2.0, DOORS=1.0, HP=62.0, MPG=31.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=58.0, MPG=49.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=2.0, HP=62.0, MPG=31.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=76.0, MPG=30.0, RMP=6000.0),
 Row(BODY=1.0, DOORS=2.0, HP=70.0, MPG=38.0, RMP=5400.0),
 Row(BODY=1.0, DOORS=1.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=78.0, MPG=24.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=68.0, MPG=31.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=76.0, MPG=31.0, RMP=6000.0),
 Row(BODY=2.0, DOORS=2.0, HP=62.0, MPG=31.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=70.0, MPG=30.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=88.0, MPG=25.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=73.0, MPG=26.0, RMP=4400.0),
 Row(BODY=1.0, DOORS=1.0, HP=55.0, MPG=45.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=82.0, MPG=32.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=76.0, MPG=30.0, RMP=6000.0),
 Row(BODY=2.0, DOORS=2.0, HP=70.0, MPG=30.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=76.0, MPG=30.0, RMP=6000.0),
 Row(BODY=2.0, DOORS=2.0, HP=76.0, MPG=30.0, RMP=6000.0),
 Row(BODY=1.0, DOORS=1.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=2.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=2.0, HP=82.0, MPG=28.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=73.0, MPG=26.0, RMP=4400.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=31.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=102.0, MPG=24.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=70.0, MPG=38.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=82.0, MPG=28.0, RMP=4400.0),
 Row(BODY=1.0, DOORS=1.0, HP=52.0, MPG=37.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=2.0, HP=56.0, MPG=38.0, RMP=4500.0),
 Row(BODY=2.0, DOORS=1.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=86.0, MPG=27.0, RMP=5800.0),
 Row(BODY=2.0, DOORS=2.0, HP=62.0, MPG=27.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=56.0, MPG=34.0, RMP=4500.0),
 Row(BODY=2.0, DOORS=1.0, HP=102.0, MPG=24.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=102.0, MPG=24.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=1.0, HP=85.0, MPG=27.0, RMP=5250.0),
 Row(BODY=1.0, DOORS=2.0, HP=52.0, MPG=37.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=2.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=2.0, HP=82.0, MPG=23.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=1.0, HP=70.0, MPG=29.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=88.0, MPG=25.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=85.0, MPG=27.0, RMP=5250.0),
 Row(BODY=2.0, DOORS=1.0, HP=70.0, MPG=29.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=69.0, MPG=31.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=2.0, HP=70.0, MPG=28.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=116.0, MPG=24.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=84.0, MPG=26.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=85.0, MPG=27.0, RMP=5250.0),
 Row(BODY=2.0, DOORS=1.0, HP=88.0, MPG=25.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=2.0, HP=62.0, MPG=27.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=86.0, MPG=27.0, RMP=5800.0),
 Row(BODY=2.0, DOORS=1.0, HP=84.0, MPG=26.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=2.0, HP=88.0, MPG=24.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=2.0, HP=88.0, MPG=24.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=92.0, MPG=29.0, RMP=4200.0),
 Row(BODY=2.0, DOORS=2.0, HP=97.0, MPG=27.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=86.0, MPG=27.0, RMP=5800.0),
 Row(BODY=1.0, DOORS=2.0, HP=82.0, MPG=24.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=70.0, MPG=28.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=116.0, MPG=23.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=116.0, MPG=23.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=1.0, HP=112.0, MPG=26.0, RMP=6600.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=37.0, RMP=4500.0),
 Row(BODY=2.0, DOORS=1.0, HP=112.0, MPG=26.0, RMP=6600.0),
 Row(BODY=1.0, DOORS=2.0, HP=97.0, MPG=27.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=116.0, MPG=24.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=116.0, MPG=23.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=94.0, MPG=26.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=90.0, MPG=24.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=92.0, MPG=27.0, RMP=4200.0),
 Row(BODY=2.0, DOORS=1.0, HP=116.0, MPG=24.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=100.0, MPG=26.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=94.0, MPG=25.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=2.0, HP=84.0, MPG=26.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=86.0, MPG=27.0, RMP=5800.0),
 Row(BODY=1.0, DOORS=1.0, HP=100.0, MPG=25.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=84.0, MPG=26.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=73.0, MPG=30.0, RMP=4500.0),
 Row(BODY=1.0, DOORS=2.0, HP=92.0, MPG=27.0, RMP=4200.0),
 Row(BODY=2.0, DOORS=1.0, HP=101.0, MPG=17.0, RMP=6000.0),
 Row(BODY=2.0, DOORS=1.0, HP=90.0, MPG=24.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=116.0, MPG=24.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=2.0, HP=84.0, MPG=26.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=2.0, HP=92.0, MPG=27.0, RMP=4200.0),
 Row(BODY=1.0, DOORS=2.0, HP=111.0, MPG=24.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=116.0, MPG=24.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=90.0, MPG=24.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=111.0, MPG=23.0, RMP=4800.0),
 Row(BODY=2.0, DOORS=1.0, HP=101.0, MPG=17.0, RMP=6000.0),
 Row(BODY=2.0, DOORS=1.0, HP=110.0, MPG=21.0, RMP=5250.0),
 Row(BODY=1.0, DOORS=2.0, HP=97.0, MPG=19.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=110.0, MPG=21.0, RMP=5250.0),
 Row(BODY=2.0, DOORS=2.0, HP=88.0, MPG=25.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=97.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=145.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=145.0, MPG=19.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=114.0, MPG=23.0, RMP=5400.0),
 Row(BODY=1.0, DOORS=2.0, HP=101.0, MPG=24.0, RMP=5800.0),
 Row(BODY=2.0, DOORS=1.0, HP=145.0, MPG=19.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=95.0, MPG=28.0, RMP=4150.0),
 Row(BODY=1.0, DOORS=2.0, HP=110.0, MPG=19.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=114.0, MPG=23.0, RMP=5400.0),
 Row(BODY=2.0, DOORS=1.0, HP=111.0, MPG=21.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=152.0, MPG=17.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=2.0, HP=152.0, MPG=19.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=101.0, MPG=17.0, RMP=6000.0),
 Row(BODY=1.0, DOORS=2.0, HP=68.0, MPG=33.0, RMP=4500.0),
 Row(BODY=2.0, DOORS=2.0, HP=95.0, MPG=25.0, RMP=4150.0),
 Row(BODY=1.0, DOORS=2.0, HP=102.0, MPG=24.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=152.0, MPG=17.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=1.0, HP=145.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=145.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=110.0, MPG=21.0, RMP=5250.0),
 Row(BODY=1.0, DOORS=1.0, HP=110.0, MPG=19.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=110.0, MPG=21.0, RMP=5250.0),
 Row(BODY=1.0, DOORS=2.0, HP=95.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=135.0, MPG=16.0, RMP=6000.0),
 Row(BODY=1.0, DOORS=2.0, HP=156.0, MPG=20.0, RMP=5200.0),
 Row(BODY=2.0, DOORS=2.0, HP=156.0, MPG=19.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=2.0, HP=114.0, MPG=24.0, RMP=5400.0),
 Row(BODY=2.0, DOORS=1.0, HP=161.0, MPG=19.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=1.0, HP=101.0, MPG=23.0, RMP=5800.0),
 Row(BODY=2.0, DOORS=1.0, HP=111.0, MPG=21.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=154.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=1.0, HP=175.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=2.0, HP=114.0, MPG=24.0, RMP=5400.0),
 Row(BODY=2.0, DOORS=1.0, HP=161.0, MPG=20.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=2.0, HP=97.0, MPG=19.0, RMP=5000.0),
 Row(BODY=2.0, DOORS=2.0, HP=95.0, MPG=19.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=114.0, MPG=23.0, RMP=5400.0),
 Row(BODY=1.0, DOORS=2.0, HP=95.0, MPG=28.0, RMP=4150.0),
 Row(BODY=1.0, DOORS=2.0, HP=101.0, MPG=23.0, RMP=5800.0),
 Row(BODY=2.0, DOORS=2.0, HP=95.0, MPG=25.0, RMP=4150.0),
 Row(BODY=2.0, DOORS=1.0, HP=160.0, MPG=19.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=2.0, HP=115.0, MPG=18.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=116.0, MPG=24.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=110.0, MPG=19.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=95.0, MPG=28.0, RMP=4150.0),
 Row(BODY=1.0, DOORS=2.0, HP=142.0, MPG=18.0, RMP=5600.0),
 Row(BODY=2.0, DOORS=1.0, HP=160.0, MPG=19.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=120.0, MPG=19.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=72.0, MPG=31.0, RMP=4200.0),
 Row(BODY=2.0, DOORS=1.0, HP=160.0, MPG=19.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=2.0, HP=162.0, MPG=17.0, RMP=5100.0),
 Row(BODY=1.0, DOORS=2.0, HP=160.0, MPG=19.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=110.0, MPG=19.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=2.0, HP=162.0, MPG=17.0, RMP=5100.0),
 Row(BODY=1.0, DOORS=2.0, HP=160.0, MPG=19.0, RMP=5300.0),
 Row(BODY=2.0, DOORS=1.0, HP=200.0, MPG=17.0, RMP=5200.0),
 Row(BODY=1.0, DOORS=1.0, HP=121.0, MPG=21.0, RMP=4250.0),
 Row(BODY=1.0, DOORS=2.0, HP=121.0, MPG=21.0, RMP=4250.0),
 Row(BODY=1.0, DOORS=2.0, HP=134.0, MPG=18.0, RMP=5500.0),
 Row(BODY=2.0, DOORS=1.0, HP=143.0, MPG=19.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=106.0, MPG=26.0, RMP=4800.0),
 Row(BODY=1.0, DOORS=2.0, HP=114.0, MPG=19.0, RMP=5400.0),
 Row(BODY=1.0, DOORS=2.0, HP=140.0, MPG=17.0, RMP=5500.0),
 Row(BODY=1.0, DOORS=2.0, HP=121.0, MPG=20.0, RMP=4250.0),
 Row(BODY=1.0, DOORS=2.0, HP=123.0, MPG=22.0, RMP=4350.0),
 Row(BODY=2.0, DOORS=1.0, HP=123.0, MPG=22.0, RMP=4350.0),
 Row(BODY=2.0, DOORS=2.0, HP=123.0, MPG=22.0, RMP=4350.0),
 Row(BODY=1.0, DOORS=2.0, HP=182.0, MPG=16.0, RMP=5400.0),
 Row(BODY=1.0, DOORS=2.0, HP=123.0, MPG=22.0, RMP=4350.0),
 Row(BODY=1.0, DOORS=2.0, HP=176.0, MPG=15.0, RMP=4750.0),
 Row(BODY=2.0, DOORS=1.0, HP=207.0, MPG=17.0, RMP=5900.0),
 Row(BODY=2.0, DOORS=1.0, HP=207.0, MPG=17.0, RMP=5900.0),
 Row(BODY=1.0, DOORS=2.0, HP=155.0, MPG=16.0, RMP=4750.0),
 Row(BODY=2.0, DOORS=1.0, HP=155.0, MPG=16.0, RMP=4750.0),
 Row(BODY=1.0, DOORS=2.0, HP=176.0, MPG=15.0, RMP=4750.0),
 Row(BODY=1.0, DOORS=1.0, HP=262.0, MPG=13.0, RMP=5000.0),
 Row(BODY=1.0, DOORS=2.0, HP=182.0, MPG=15.0, RMP=5400.0),
 Row(BODY=2.0, DOORS=1.0, HP=207.0, MPG=17.0, RMP=5900.0),
 Row(BODY=1.0, DOORS=2.0, HP=184.0, MPG=14.0, RMP=4500.0),
 Row(BODY=1.0, DOORS=1.0, HP=182.0, MPG=16.0, RMP=5400.0),
 Row(BODY=2.0, DOORS=1.0, HP=184.0, MPG=14.0, RMP=4500.0)]

In [11]:
# Making a dataframe from rdd
cars_df = spark.createDataFrame(auto_map)
cars_df.show()

+----+-----+----+----+------+
|BODY|DOORS|  HP| MPG|   RMP|
+----+-----+----+----+------+
| 2.0|  1.0|69.0|31.0|4900.0|
| 2.0|  1.0|48.0|47.0|5100.0|
| 2.0|  1.0|68.0|30.0|5000.0|
| 2.0|  1.0|62.0|35.0|4800.0|
| 2.0|  1.0|68.0|37.0|5500.0|
| 2.0|  1.0|60.0|38.0|5500.0|
| 1.0|  1.0|69.0|31.0|5200.0|
| 2.0|  1.0|68.0|37.0|5500.0|
| 2.0|  1.0|68.0|37.0|5500.0|
| 2.0|  1.0|68.0|31.0|5000.0|
| 2.0|  1.0|68.0|31.0|5500.0|
| 2.0|  2.0|68.0|31.0|5500.0|
| 2.0|  2.0|68.0|31.0|5500.0|
| 2.0|  1.0|70.0|38.0|5400.0|
| 2.0|  1.0|62.0|31.0|4800.0|
| 2.0|  1.0|68.0|31.0|5500.0|
| 2.0|  1.0|58.0|49.0|4800.0|
| 2.0|  2.0|62.0|31.0|4800.0|
| 2.0|  1.0|76.0|30.0|6000.0|
| 1.0|  2.0|70.0|38.0|5400.0|
+----+-----+----+----+------+
only showing top 20 rows

In [12]:
# Summarizing the statistics and converting to Pandas dataframe
summ_stats = cars_df.describe().toPandas()
summ_stats

  summary                BODY  ...                MPG                 RMP
0   count                 197  ...                197                 197
1    mean   1.532994923857868  ...  25.15228426395939  5118.0203045685275
2  stddev  0.5001812579359883  ...  6.437862917085915  481.03591405011446
3     min                 1.0  ...               13.0              4150.0
4     max                 2.0  ...               49.0              6600.0

[5 rows x 6 columns]

In [14]:
# Extracting the means
means = summ_stats.iloc[1,1:5].values.tolist()
means

['1.532994923857868',
 '1.5685279187817258',
 '103.60406091370558',
 '25.15228426395939']

In [15]:
# Extract the standard deviations
std_dev = summ_stats.iloc[2,1:5].values.tolist()
std_dev

['0.5001812579359883',
 '0.49654352778167493',
 '37.639205349518356',
 '6.437862917085915']

In [16]:
# Inserting the means and standard deviations into a broadcast variable type
bc_means = sc.broadcast(means)
bc_std_dev = sc.broadcast(std_dev)

In [18]:
# Import Vetors function
from pyspark.ml.linalg import Vectors

In [19]:
# Function to normalize the data and make a dense vector
# Putting the data in the same scale
def center_and_scale(in_row):
  global bc_means
  global bc_std_dev

  mean_array = bc_means.value
  std_array  = bc_std_dev.value

  ret_array = []
  
  # n = value of index
  # (n - mean[n]) / Std.Deviation[n]
  for i in range(len(mean_array)):
    ret_array.append( (float(in_row[i]) - float(mean_array[i])) / float(std_array[i]) )

  return Vectors.dense(ret_array)

In [20]:
# Transforming the dataframe in rdd temporarily to make the calculation 
cs_auto = cars_df.rdd.map(center_and_scale)

# Show normalized data
cs_auto.collect()

[DenseVector([0.9337, -1.145, -0.9194, 0.9083]),
 DenseVector([0.9337, -1.145, -1.4773, 3.3936]),
 DenseVector([0.9337, -1.145, -0.9459, 0.753]),
 DenseVector([0.9337, -1.145, -1.1053, 1.5297]),
 DenseVector([0.9337, -1.145, -0.9459, 1.8403]),
 DenseVector([0.9337, -1.145, -1.1585, 1.9956]),
 DenseVector([-1.0656, -1.145, -0.9194, 0.9083]),
 DenseVector([0.9337, -1.145, -0.9459, 1.8403]),
 DenseVector([0.9337, -1.145, -0.9459, 1.8403]),
 DenseVector([0.9337, -1.145, -0.9459, 0.9083]),
 DenseVector([0.9337, -1.145, -0.9459, 0.9083]),
 DenseVector([0.9337, 0.869, -0.9459, 0.9083]),
 DenseVector([0.9337, 0.869, -0.9459, 0.9083]),
 DenseVector([0.9337, -1.145, -0.8928, 1.9956]),
 DenseVector([0.9337, -1.145, -1.1053, 0.9083]),
 DenseVector([0.9337, -1.145, -0.9459, 0.9083]),
 DenseVector([0.9337, -1.145, -1.2116, 3.7043]),
 DenseVector([0.9337, 0.869, -1.1053, 0.9083]),
 DenseVector([0.9337, -1.145, -0.7334, 0.753]),
 DenseVector([-1.0656, 0.869, -0.8928, 1.9956]),
 DenseVector([-1.0656, -1.145, -0.9194, 0.9083]),
 DenseVector([0.9337, -1.145, -0.9459, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.9459, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.9459, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.9459, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.6802, -0.179]),
 DenseVector([0.9337, -1.145, -0.9459, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.9194, 0.9083]),
 DenseVector([0.9337, -1.145, -0.7334, 0.9083]),
 DenseVector([0.9337, 0.869, -1.1053, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.8928, 0.753]),
 DenseVector([-1.0656, 0.869, -0.4146, -0.0237]),
 DenseVector([0.9337, -1.145, -0.8131, 0.1317]),
 DenseVector([-1.0656, -1.145, -1.2913, 3.083]),
 DenseVector([-1.0656, 0.869, -0.574, 1.0637]),
 DenseVector([0.9337, -1.145, -0.7334, 0.753]),
 DenseVector([0.9337, 0.869, -0.8928, 0.753]),
 DenseVector([-1.0656, 0.869, -0.7334, 0.753]),
 DenseVector([0.9337, 0.869, -0.7334, 0.753]),
 DenseVector([-1.0656, -1.145, -0.9194, 0.9083]),
 DenseVector([0.9337, 0.869, -0.9194, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.9459, 0.9083]),
 DenseVector([0.9337, 0.869, -0.574, 0.4423]),
 DenseVector([-1.0656, 0.869, -0.9194, 0.9083]),
 DenseVector([0.9337, -1.145, -0.8131, 0.1317]),
 DenseVector([-1.0656, 0.869, -0.9459, 0.9083]),
 DenseVector([-1.0656, 0.869, -0.9459, 0.9083]),
 DenseVector([0.9337, -1.145, -0.0426, -0.179]),
 DenseVector([-1.0656, 0.869, -0.8928, 1.9956]),
 DenseVector([-1.0656, 0.869, -0.574, 0.4423]),
 DenseVector([-1.0656, -1.145, -1.371, 1.8403]),
 DenseVector([0.9337, 0.869, -1.2647, 1.9956]),
 DenseVector([0.9337, -1.145, -0.9194, 0.9083]),
 DenseVector([0.9337, -1.145, -0.4677, 0.287]),
 DenseVector([0.9337, 0.869, -1.1053, 0.287]),
 DenseVector([-1.0656, 0.869, -1.2647, 1.3743]),
 DenseVector([0.9337, -1.145, -0.0426, -0.179]),
 DenseVector([0.9337, -1.145, -0.0426, -0.179]),
 DenseVector([-1.0656, -1.145, -0.4943, 0.287]),
 DenseVector([-1.0656, 0.869, -1.371, 1.8403]),
 DenseVector([0.9337, 0.869, -0.9194, 0.9083]),
 DenseVector([0.9337, 0.869, -0.574, -0.3343]),
 DenseVector([-1.0656, -1.145, -0.8928, 0.5977]),
 DenseVector([-1.0656, 0.869, -0.4146, -0.0237]),
 DenseVector([-1.0656, 0.869, -0.4943, 0.287]),
 DenseVector([0.9337, -1.145, -0.8928, 0.5977]),
 DenseVector([0.9337, -1.145, -0.9194, 0.9083]),
 DenseVector([0.9337, 0.869, -0.8928, 0.4423]),
 DenseVector([0.9337, -1.145, 0.3293, -0.179]),
 DenseVector([-1.0656, 0.869, -0.5208, 0.1317]),
 DenseVector([-1.0656, 0.869, -0.4943, 0.287]),
 DenseVector([0.9337, -1.145, -0.4146, -0.0237]),
 DenseVector([0.9337, 0.869, -1.1053, 0.287]),
 DenseVector([-1.0656, 0.869, -0.4677, 0.287]),
 DenseVector([0.9337, -1.145, -0.5208, 0.1317]),
 DenseVector([0.9337, 0.869, -0.4146, -0.179]),
 DenseVector([0.9337, 0.869, -0.4146, -0.179]),
 DenseVector([-1.0656, 0.869, -0.3083, 0.5977]),
 DenseVector([0.9337, 0.869, -0.1755, 0.287]),
 DenseVector([0.9337, -1.145, -0.4677, 0.287]),
 DenseVector([-1.0656, 0.869, -0.574, -0.179]),
 DenseVector([-1.0656, 0.869, -0.8928, 0.4423]),
 DenseVector([-1.0656, 0.869, 0.3293, -0.3343]),
 DenseVector([-1.0656, 0.869, 0.3293, -0.3343]),
 DenseVector([-1.0656, -1.145, 0.2231, 0.1317]),
 DenseVector([-1.0656, 0.869, -0.9459, 1.8403]),
 DenseVector([0.9337, -1.145, 0.2231, 0.1317]),
 DenseVector([-1.0656, 0.869, -0.1755, 0.287]),
 DenseVector([0.9337, -1.145, 0.3293, -0.179]),
 DenseVector([0.9337, -1.145, 0.3293, -0.3343]),
 DenseVector([-1.0656, 0.869, -0.2552, 0.1317]),
 DenseVector([0.9337, -1.145, -0.3614, -0.179]),
 DenseVector([0.9337, 0.869, -0.3083, 0.287]),
 DenseVector([0.9337, -1.145, 0.3293, -0.179]),
 DenseVector([-1.0656, 0.869, -0.0958, 0.1317]),
 DenseVector([0.9337, 0.869, -0.2552, -0.0237]),
 DenseVector([-1.0656, 0.869, -0.5208, 0.1317]),
 DenseVector([-1.0656, 0.869, -0.4677, 0.287]),
 DenseVector([-1.0656, -1.145, -0.0958, -0.0237]),
 DenseVector([0.9337, -1.145, -0.5208, 0.1317]),
 DenseVector([-1.0656, 0.869, -0.8131, 0.753]),
 DenseVector([-1.0656, 0.869, -0.3083, 0.287]),
 DenseVector([0.9337, -1.145, -0.0692, -1.2663]),
 DenseVector([0.9337, -1.145, -0.3614, -0.179]),
 DenseVector([0.9337, -1.145, 0.3293, -0.179]),
 DenseVector([0.9337, 0.869, -0.5208, 0.1317]),
 DenseVector([0.9337, 0.869, -0.3083, 0.287]),
 DenseVector([-1.0656, 0.869, 0.1965, -0.179]),
 DenseVector([0.9337, -1.145, 0.3293, -0.179]),
 DenseVector([0.9337, -1.145, -0.3614, -0.179]),
 DenseVector([0.9337, 0.869, 0.1965, -0.3343]),
 DenseVector([0.9337, -1.145, -0.0692, -1.2663]),
 DenseVector([0.9337, -1.145, 0.1699, -0.645]),
 DenseVector([-1.0656, 0.869, -0.1755, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.1699, -0.645]),
 DenseVector([0.9337, 0.869, -0.4146, -0.0237]),
 DenseVector([0.9337, 0.869, -0.1755, -0.9556]),
 DenseVector([0.9337, -1.145, 1.0998, -0.9556]),
 DenseVector([0.9337, -1.145, 1.0998, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.2762, -0.3343]),
 DenseVector([-1.0656, 0.869, -0.0692, -0.179]),
 DenseVector([0.9337, -1.145, 1.0998, -0.9556]),
 DenseVector([-1.0656, 0.869, -0.2286, 0.4423]),
 DenseVector([-1.0656, 0.869, 0.1699, -0.9556]),
 DenseVector([0.9337, 0.869, 0.2762, -0.3343]),
 DenseVector([0.9337, -1.145, 0.1965, -0.645]),
 DenseVector([-1.0656, 0.869, 1.2858, -1.2663]),
 DenseVector([-1.0656, 0.869, 1.2858, -0.9556]),
 DenseVector([0.9337, -1.145, -0.0692, -1.2663]),
 DenseVector([-1.0656, 0.869, -0.9459, 1.219]),
 DenseVector([0.9337, 0.869, -0.2286, -0.0237]),
 DenseVector([-1.0656, 0.869, -0.0426, -0.179]),
 DenseVector([0.9337, 0.869, 1.2858, -1.2663]),
 DenseVector([0.9337, -1.145, 1.0998, -0.9556]),
 DenseVector([0.9337, -1.145, 1.0998, -0.9556]),
 DenseVector([0.9337, -1.145, 0.1699, -0.645]),
 DenseVector([-1.0656, -1.145, 0.1699, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.1699, -0.645]),
 DenseVector([-1.0656, 0.869, -0.2286, -0.9556]),
 DenseVector([0.9337, -1.145, 0.8341, -1.4216]),
 DenseVector([-1.0656, 0.869, 1.3921, -0.8003]),
 DenseVector([0.9337, 0.869, 1.3921, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.2762, -0.179]),
 DenseVector([0.9337, -1.145, 1.5249, -0.9556]),
 DenseVector([-1.0656, -1.145, -0.0692, -0.3343]),
 DenseVector([0.9337, -1.145, 0.1965, -0.645]),
 DenseVector([0.9337, -1.145, 1.3389, -0.9556]),
 DenseVector([0.9337, -1.145, 1.8969, -0.9556]),
 DenseVector([0.9337, 0.869, 0.2762, -0.179]),
 DenseVector([0.9337, -1.145, 1.5249, -0.8003]),
 DenseVector([-1.0656, 0.869, -0.1755, -0.9556]),
 DenseVector([0.9337, 0.869, -0.2286, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.2762, -0.3343]),
 DenseVector([-1.0656, 0.869, -0.2286, 0.4423]),
 DenseVector([-1.0656, 0.869, -0.0692, -0.3343]),
 DenseVector([0.9337, 0.869, -0.2286, -0.0237]),
 DenseVector([0.9337, -1.145, 1.4983, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.3028, -1.111]),
 DenseVector([0.9337, -1.145, 0.3293, -0.179]),
 DenseVector([-1.0656, 0.869, 0.1699, -0.9556]),
 DenseVector([-1.0656, 0.869, -0.2286, 0.4423]),
 DenseVector([-1.0656, 0.869, 1.0201, -1.111]),
 DenseVector([0.9337, -1.145, 1.4983, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.4356, -0.9556]),
 DenseVector([-1.0656, 0.869, -0.8397, 0.9083]),
 DenseVector([0.9337, -1.145, 1.4983, -0.9556]),
 DenseVector([-1.0656, 0.869, 1.5515, -1.2663]),
 DenseVector([-1.0656, 0.869, 1.4983, -0.9556]),
 DenseVector([0.9337, 0.869, 0.1699, -0.9556]),
 DenseVector([0.9337, 0.869, 1.5515, -1.2663]),
 DenseVector([-1.0656, 0.869, 1.4983, -0.9556]),
 DenseVector([0.9337, -1.145, 2.5611, -1.2663]),
 DenseVector([-1.0656, -1.145, 0.4622, -0.645]),
 DenseVector([-1.0656, 0.869, 0.4622, -0.645]),
 DenseVector([-1.0656, 0.869, 0.8076, -1.111]),
 DenseVector([0.9337, -1.145, 1.0467, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.0637, 0.1317]),
 DenseVector([-1.0656, 0.869, 0.2762, -0.9556]),
 DenseVector([-1.0656, 0.869, 0.967, -1.2663]),
 DenseVector([-1.0656, 0.869, 0.4622, -0.8003]),
 DenseVector([-1.0656, 0.869, 0.5153, -0.4896]),
 DenseVector([0.9337, -1.145, 0.5153, -0.4896]),
 DenseVector([0.9337, 0.869, 0.5153, -0.4896]),
 DenseVector([-1.0656, 0.869, 2.0828, -1.4216]),
 DenseVector([-1.0656, 0.869, 0.5153, -0.4896]),
 DenseVector([-1.0656, 0.869, 1.9234, -1.577]),
 DenseVector([0.9337, -1.145, 2.747, -1.2663]),
 DenseVector([0.9337, -1.145, 2.747, -1.2663]),
 DenseVector([-1.0656, 0.869, 1.3655, -1.4216]),
 DenseVector([0.9337, -1.145, 1.3655, -1.4216]),
 DenseVector([-1.0656, 0.869, 1.9234, -1.577]),
 DenseVector([-1.0656, -1.145, 4.2083, -1.8876]),
 DenseVector([-1.0656, 0.869, 2.0828, -1.577]),
 DenseVector([0.9337, -1.145, 2.747, -1.2663]),
 DenseVector([-1.0656, 0.869, 2.136, -1.7323]),
 DenseVector([-1.0656, -1.145, 2.0828, -1.4216]),
 DenseVector([0.9337, -1.145, 2.136, -1.7323])]

# Monitor Jobs - Spark UI

In [ ]:
spark

In [ ]:
# If you are running this Colab on the Google hosted runtime, the cell below 
# will create a ngrok tunnel which will allow you to still check the Spark UI.
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2020-08-19 10:30:30--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.159.87.23, 52.54.251.217, 34.233.175.36, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.159.87.23|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13773305 (13M) [application/octet-stream]
Saving to: ‚Äòngrok-stable-linux-amd64.zip‚Äô

ngrok-stable-linux- 100%[===================>]  13.13M  60.9MB/s    in 0.2s

2020-08-19 10:30:31 (60.9 MB/s) - ‚Äòngrok-stable-linux-amd64.zip‚Äô saved [13773305/13773305]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
http://3f28f3706035.ngrok.io